<ion-view view-title="Platillos">
  <ion-content class="padding">
    
	<div class="list card">
    	<div class="item">
        	<h2>Pizza</h2>
        	<p>Pan redondo con queso</p>
        	<p>$70.00</p>
    	</div>
   	 
    	<div class="item">
        	<h2>Hotdog</h2>
        	<p>Pan con salchicha</p>
        	<p>$25.00</p>
    	</div>
	</div>
	
		<div class="item">
        	<h2>Hamburguesa</h2>
        	<p>Queso, Aguacate, Lechuga</p>
        	<p>$25.00</p>
    	</div>
	
    
  </ion-content>
</ion-view>

