<ion-view view-title="Postres">
  <ion-content class="padding">
    
	<div class="list card">
    	<div class="item">
        	<h2>Pay de queso</h2>
        
        	<p>$15.00</p>
    	</div>
   	 
    	<div class="item">
        	<h2>Helado cubierto</h2>
        	<p>fresa, napolitano, chocolate</p>
        	<p>$25.00</p>
    	</div>
	</div>
	
		<div class="item">
        	<h2>Tarta de manzana</h2>
        	
        	<p>$25.00</p>
    	</div>
	 

  <div class="item item-body">
	

	<p>
    	<a href="tel:8688140952">Enviar Pedido</a>
	</p>
  </div>




  </ion-content>
</ion-view>