<ion-view view-title="Postres">
  <ion-content class="padding">
    
	<div class="list card">
    	<div class="item">
        	<h2>Pay de quesp</h2>
        
        	<p>$15.00</p>
    	</div>
   	 
    	<div class="item">
        	<h2>Helado cubierto</h2>
        	<p>fresa, napolitano, chocolate</p>
        	<p>$25.00</p>
    	</div>
	</div>
	
		<div class="item">
        	<h2>Tarta de manzana</h2>
        	
        	<p>$25.00</p>
    	</div>
	 <div class="list card">

  <div class="item item-body">
	<img class="image-list-thumb" src="img/restaurantes.jpg">
	<p>
  	Lauro villar km 6.5, Col. Tecnologico
	</p>
	<p>
    	<a href="tel:8688140952">8688140952</a>
	</p>
  </div>

</div>


  </ion-content>
</ion-view>
